/* Este s un comentario en css */
/* Selector con su bloque de declaraciones */
h1{
    font-size: 60px;
    color: firebrick;
    text-align: center;
}

.centrado{
    text-align: center;
    font-size: 60px;
    color: firebrick;
}
p.noticia{
    font-size: 50px;
    color: black;
    text-align: center;
}
#titulo{
    font-size: 50px;
    color: orange;
}
#tema{
    font-size: 50px;
    color: orange;
}

