body{
    background-image: url(gif/yes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.trabajo{
    display: flex;
}
