/*Este es un archivo*/
h1{
    font-size:  60px;
    color: blue;
    text-align: center;
}
.insidediv{
    font-style: italic;
    color: antiquewhite;

}

.centrado {
    text-align: center;
    font-size: 60px;
    color: blue;
}

p.noticia {
    font-size: 60px;
    color: red;
}

#titulo {
    font-size: 60px;
    color: orange;
}

body{
    background-image: url(recursos/download.gif);
    background-size: cover;
}

