/* Este es un comentario en CSS */

h1 {
    font-size: 60px;
    color: rgb(255, 99, 71);
}

.centrado {
    text-align: center;
    font-size: 60px;
    color: #ff6347;
}

p.noticia {
    font-size: 60px;
    color: red;
}

#titulo {
    font-size: 60px;
    color: orange;
}

#tema_prueba{
    font-size: 60px;
    color: green;
}