/* Este es un comentario en css */
body{
    background-color: #0d5fb7;
}

h1 {
    font-size: 60px;
    color: rgb(10, 100, 174);
}

.centrado {
    text-align: center;
    font-size: 60px;
    color: blue;
}

p.noticia {
    font-size: 60px;
    color: red;
}

#titulo {
    font-size: 60px;
    color: orange;
}
#tema_prueba {
    font-size: 60px;
    color: rgb(25, 184, 59);
} 